.tooltip-container{
    position: relative;
    padding: 0 20px;
}

.tooltip-text, .tooltip-text-new {
    display: none;
    position: absolute;
    top: -60px;
    z-index: 1;
    background: #00732c;
    font-size: 1rem;
    color: #fff;
    border-radius: 2px;
    padding: 10px 20px;
}

.tooltip-text:before, .tooltip-text-new {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-top: 8px solid #00732c;
}

.tooltip-text-new {
    margin-left: 250px;
    top: 40%;
    left: 20%;
}

.tooltipe-wrapper{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
}

.tooltipe-wrapper .tooltip-container + .tooltip-container {
    padding-left: 100px;
}